<!DOCTYPE html>
<html>
    <head>
        <title>
            To do list
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css"/>

    </head>
    <body>
        <h1>
            My to do list
        </h1>
        <ol>
            <li>
                wash the dishes
            </li>
            <li>
                do homework
            </li>
            <li>
                go for a walk
            </li>
        </ol>
    </body>
</html>