<!DOCTYPE html>
<html>
    <head>
        <title>
            To do list for all the week
        </title>
    </head>
    <body>
        <h1>
            My to do list for all the week
        </h1>
        <ol>
            <li>
                <a href = "sunday" >
                    Sunday
                </a>
            </li>
            <li>
                <a href = "monday" >
                    Monday
                
                </a>
                
            </li>
            <li>
                <a href = "tuesday" >
                        Tuesday
                </a>
                    
            </li>
            <li>
                Wendsday
            </li>
            <li>
                Thursday
            </li>
            <li>
                Friday
            </li>
            <li>
                Saturday
            </li>
        </ol>
    </body>
</html>